
body {
    height: 100%;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffe6;
    font-family: 'Oxygen', sans-serif
}

#container {
    height: 100%;
    margin: 0 auto;
}

#name_site {
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    color: #003333;
}

.btn {
    width: 300px;
    position: relative;
    box-sizing: border-box;
}

.error {
    width: 100%;
    max-width: 330px;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    color: #FF0000;
    margin-bottom: 15px;
}

.fields {
    width: 100%;
    max-width: 330px;
}


.fields .form-control {
    height: 40px;
    width: 300px;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.fields .form-control:focus {
    z-index: 2;
}

.fields input[type="text"] {
    height: 40px;
    width: 300px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid #000;
}

.fields input[type="email"] {
    height: 40px;
    width: 300px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid #000;
}

.fields input[type="password"] {
    height: 40px;
    width: 300px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid #000;
}

