<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Happy Pet Animal Adoption Service</title>
    <link href="../static/css/main.css" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<div th:replace="fragments/navbar.html :: navigation(notifications=${notifications})"></div>


<main style="overflow: scroll; padding-top: 110px; padding-bottom: 60px;">

    <div class="container-fluid">
        <div class="row-fluid">
             <div class="span8">
                 <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.711119240782!2d30.517226415731912!3d50.46510387947737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce3f8783f067%3A0x20e77fb079389395!2z0J3QsNGG0ZbQvtC90LDQu9GM0L3QuNC5INGD0L3RltCy0LXRgNGB0LjRgtC10YIgItCa0LjRlNCy0L4t0JzQvtCz0LjQu9GP0L3RgdGM0LrQsCDQsNC60LDQtNC10LzRltGPIg!5e0!3m2!1suk!2sua!4v1591727857832!5m2!1suk!2sua"></iframe>
             </div>

            <div class="span4">
                <h2>Contact information</h2>
                <address>
                    <strong>Happy Pet Adoption Center</strong><br>
                    2 Skovorody St<br>
                    Kyiv<br>
                    Ukraine<br>
                    04665<br>
                    <abbr title="Phone">P:</abbr> +38096881442
                </address>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="page-footer font-small  fixed-bottom" style="text-align: center; background-color: #e3f2fd;">
    <div class="footer-copyright">© 2020 Copyright:
        <a class="developers"> Krukovska Yana and Synelnyk Mariia</a>
    </div>
</footer>
<!-- Footer -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>