<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Life Animal Adoption Service</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<div th:replace="fragments/navbar.html :: navigation"></div>


<div class="container">

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Breed</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Arrival date</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="animal : ${animals}">
            <form th:action="@{/sendRequest}" th:object="${request}" method="post">
                <td><span th:text="${animal.name}"></span></td>
                <td><span th:text="${animal.breed}"></span></td>
                <td><span th:text="${animal.age}"></span></td>
                <td><span th:text="${animal.gender}"></span></td>
                <td><span th:text="${animal.arrivalDate}"></span></td>
                <td><input type="hidden" th:value="${animal.id}" name="animalId"/>
                    <button type="submit" class="addbutton" name="add" value="add">Request adoption</button>
                </td>
            </form>



        </tr>
        </tbody>


    </table>
</div>
<div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Animal name</th>
            <th scope="col">User</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="request : ${requests}">
            <td><span th:text="${request.id}"></span></td>
            <td><span th:text="${request.animal.name}"></span></td>
            <td><span th:text="${request.user.name}"></span></td>
            <td><span th:text="${request.date}"></span></td>
        </tr>
        </tbody>


    </table>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>