<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Happy Pet Animal Adoption Service</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<div th:replace="fragments/navbar.html :: navigation"></div>


<!-- start main -->
<main style="overflow: scroll; padding-top: 110px; padding-bottom: 60px;">
    <div class="container">
        <div sec:authorize="hasRole('ADMIN')">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Animal name</th>
                    <th scope="col">User</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="request : ${requests}">
                    <td><span th:text="${request.id+1}"></span></td>
                    <td><span th:text="${request.animal.name}"></span></td>
                    <td><span th:text="${request.user.username}"></span></td>
                    <td><span th:text="${request.date}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>
<!-- start main -->

<!-- Footer -->
<footer class="page-footer font-small  fixed-bottom" style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="developers"> Krukovska Yana and Synelnyk Mariia</a>
    </div>
</footer>
<!-- Footer -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>